@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pointer: rgba(83, 83, 59, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --pointer: rgba(29, 78, 216, 0.15);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
