@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #593534;
  --secondary: #dfdbc3;
  --info: #171717;
  --muted: #f9f9f9;
  --accent: #3a2322;
  --pointer: rgba(29, 78, 216, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #e2e8f0;
    --secondary: #0f172a;
    --info: #4fd1c5;
    --muted: #94a3b8;
    --accent: #134e4a;
    --pointer: rgba(29, 78, 216, 0.15);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
